.home-container {
  position: relative;
  background: beige;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding : 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .todo-header {
    display: flex;
    flex-direction: column;
    gap : 10px
   }
}
.ui .input {
 width: 100%;
}